body {
    background-image: url("/static/jessica_lewis_593324.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
    width: auto;
    z-index: -1;
}

h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 15px;
    color: rgb(45, 45, 45);
}

h6 {
    padding-bottom: 10px;
}

p {
    font-size: 15px;
}

a {
    color: rgb(0, 255, 0) !important;
}

a:hover {
    color:rgb(0, 190, 0) !important;
    transition: 0.2s;
    text-decoration: none !important;
}

label {
    font-weight: 450;
    font-size: 20px;
    margin-left: 5px;
}

nav {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 30px 50px 30px 50px;
    width: 100%;
    min-width: 500px;
    top: 0;
    position: fixed;
    font-weight: 500;
    transition: 0.4s;
    z-index: 5;
}

.main_button {
    font-size: 42px;
    font-weight: 500;
    margin-right: 30px;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
}

.main_button:hover {
    text-decoration: none;
}

.nav_button {
    color: white !important;
    font-size: 18px;
    padding-right: 15px;
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-column {
    max-width: 25%;
    flex: 25%;
    padding: 4px;
}

.flex-column img {
    opacity: 0.6;
    width: 100%;
    vertical-align: middle;
    transition: 0.3s;
    padding-bottom: 6px;
}

.flex-column img:hover {
    opacity: 1;
    transition: 0.3s;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3% 3% 1% 3%;
    width: 100%;
    min-width: 500px;
}

footer p {
    line-height: 0.7;
    padding-left: 3%;
    color: white;
}

footer b {
    margin-left: 1%;
    margin-top: 2%;
    color: white;
}

#bottom_footer {
    text-align: center;
    bottom: 0px;
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
    font-size: 12px;
}

#form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: 150px;
    background-color: rgba(173, 216, 230, 0.9);
    border-radius: 10px;
    text-align: left;
    padding: 45px 55px 45px 55px;
    font-size: 18px;
    z-index: 1;
    min-width: 350px;
    max-width: 700px;
}

#browse {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: 150px;
    background-color: rgba(173, 216, 230, 0.9);
    border-radius: 10px;
    text-align: left;
    padding: 45px 55px 45px 55px;
    font-size: 18px;
    z-index: 1;
    min-width: 400px;
    max-width: 1200px;
}

#browse p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    text-align: justify;
}

/* When width's maximum reached, change margins to keep centered registration form*/
@media (max-width: 1150px) {
    #form {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 900px) {
    .flex-column {
        max-width: 50%;
        flex: 50%;
    }
}

@media (max-width: 1500px) {
    #browse {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.input_field {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 15px;
    outline: none;
}

.input_field:focus {
    outline: 3px solid rgb(129, 129, 214);
    transition: 0.1s;
    outline-style: inset;
    box-shadow: 3px;
}

#password_validation {
    margin: 15px 10px 20px 10px;
    background-color: rgba(0, 128, 128, 0.5);
    padding: 20px 25px 5px 25px;
    border-radius: 5px;
}

#password_validation p {
    padding-left: 10px;
    line-height: 1;
}

#submit {
    background-color: rgb(66, 175, 66);
    border-radius: 5px;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 20px;
    transition: 0.3s;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(40, 126, 40);
    transition: 0.3s;
}

img {
    border-radius: 3px;
}

.feedback {
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
}

#failure {
    background-color: rgba(255, 0, 0, 0.6);
}

#success {
    background-color: rgba(0, 255, 0, 0.6);
}