{% extends "layout.html" %}

{% block title %}
Browse
{% endblock %}

{% block main %}

<div id="browse">
    <h2 style="text-align: left;">Browse Collection</h2>
    <hr>
    <div>
        <p style="font-size: 18px;">
            <i>All images showed here are taken from <a style="color:rgb(66, 175, 66) !important; text-decoration: none" href="https://www.pexels.com/">Pexels.com</a> and 
            are free to use as stock images.</i>
        </p>
    </div>
    <div class="flex-row">
        <div class="flex-column portrait">
            <a href="https://images.pexels.com/photos/1367067/pexels-photo-1367067.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img01" alt="cat in forest" src="https://images.pexels.com/photos/1367067/pexels-photo-1367067.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/45863/frog-butterfly-pond-mirroring-45863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                <img id="img02" alt="butterfly on frog" src="https://images.pexels.com/photos/45863/frog-butterfly-pond-mirroring-45863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/4490129/pexels-photo-4490129.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img03" alt="weiner dog on sofa" src="https://images.pexels.com/photos/4490129/pexels-photo-4490129.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
        </div>
        
        <div class="flex-column">
            <a href="https://images.pexels.com/photos/130621/pexels-photo-130621.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img04" alt="jellyfishes" src="https://images.pexels.com/photos/130621/pexels-photo-130621.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/2310641/pexels-photo-2310641.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img05" alt="foggy terrain" src="https://images.pexels.com/photos/2310641/pexels-photo-2310641.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/2829373/pexels-photo-2829373.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img06" alt="girl with glasses" src="https://images.pexels.com/photos/2829373/pexels-photo-2829373.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
        </div>
        <div class="flex-column">
            <a href="https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img07" alt="northern lights" src="https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/4622893/pexels-photo-4622893.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img08" alt="sunflower macro" src="https://images.pexels.com/photos/4622893/pexels-photo-4622893.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/156505/pexels-photo-156505.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img09" alt="tilt shift village" src="https://images.pexels.com/photos/156505/pexels-photo-156505.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
        </div>
        <div class="flex-column">
            <a href="https://images.pexels.com/photos/3521502/pexels-photo-3521502.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img10" alt="black and white portrait of man" src="https://images.pexels.com/photos/3521502/pexels-photo-3521502.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/3821674/pexels-photo-3821674.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                <img id="img11" alt="pink flower close-up" src="https://images.pexels.com/photos/3821674/pexels-photo-3821674.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></a>
            <a href="https://images.pexels.com/photos/3877619/pexels-photo-3877619.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <img id="img12" alt="photographer and sunrise" src="https://images.pexels.com/photos/3877619/pexels-photo-3877619.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></a>
        </div>
    </div>
</div>
{% endblock %}