{% extends "layout.html" %}

{% block title %}
Browse
{% endblock %}

{% block main %}
<div id="browse">
    <h2 style="text-align: left;">Browse Collection</h2>
    <hr>
    <div class="flex-row">
        <div class="flex-column portrait">
            <img src="https://images.pexels.com/photos/1367067/pexels-photo-1367067.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
            <img src="https://images.pexels.com/photos/45863/frog-butterfly-pond-mirroring-45863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <img src="https://images.pexels.com/photos/4490129/pexels-photo-4490129.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
        </div>
        
        <div class="flex-column">
            <img src="https://images.pexels.com/photos/130621/pexels-photo-130621.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
            <img src="https://images.pexels.com/photos/2310641/pexels-photo-2310641.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
            <img src="https://images.pexels.com/photos/2829373/pexels-photo-2829373.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
        </div>
        <div class="flex-column">
            <img src="https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
            <img src="https://images.pexels.com/photos/4622893/pexels-photo-4622893.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
            <img src="https://images.pexels.com/photos/156505/pexels-photo-156505.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
        </div>
        <div class="flex-column">
            <img src="https://images.pexels.com/photos/3521502/pexels-photo-3521502.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
            <img src="https://images.pexels.com/photos/3821674/pexels-photo-3821674.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
            <img src="https://images.pexels.com/photos/3877619/pexels-photo-3877619.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        </div>
    </div>
</div>
{% endblock %}