<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags copied from Bootstrap's website -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Import bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <!-- Import CSS file -->
        <link href="/static/styles.css" rel="stylesheet">

        <title>CS50 Final: {% block title %}{% endblock %}</title>

    </head>

    <body>
        
        <!-- Navigation bar for every page -->
        <!-- TODO : add top bar animation when scrolls down (like color from white to black and gets smaller to better see main cont)-->
        <nav id="nav">
            
            <!-- TODO This div element (main navbar) is collapsible if screen is too small (hamburger menu) -->
            <div id="nav_long">
                <!-- TODO Big icon for page on top left (add logo/text/etc for each page) refers to home page "/"-->
                <a href="/" class="main_button" style="font-size: 42px">[CS50 Final]</a>
                <a href="/browse" class="nav_button">Browse</button>
                
                {%if session.user_id %}
                    <!-- TODO Separate log out button to right (add CSS property and different class for this nav item!) -->
                    <a href="/logout" class="nav_button">Logout</a>
                {% else %}
                    <!-- TODO ADD CONDITIONS TO DISPLAY these buttons according to login info -->
                    <a href="/register" class="nav_button nav_right">Register</a>
                    <a href="/login" class="nav_button nav_right">Login</a>
                {% endif %}
            </div>

        </nav>

        <main>
            {% block main %}{% endblock %}
        </main>
        
        <footer id="footer">
            <div id="left_footer">
                <b>Links</b>
                <p style="margin-top: 10px;"><a href="https://cs50.harvard.edu/">Check out CS50</a></p>
                <p><a href="https://github.com/jackfridge">My Github page</a></p>
            </div>

            <div id="bottom_footer">
                Jacques Frigault &#169; 2021, Some Rights Reserved
            </div>
        </footer>

        <script>
            // Adjust navbar height to adapt to scrolling
            window.onscroll = function() {
                if (document.documentElement.scrollTop > 50) {
                    document.querySelector("nav").style.padding = "5px 25px 8px 20px";
                    document.querySelector("nav").style.backgroundColor = "rgba(0, 0, 0, 1)";
                    document.querySelector(".main_button").style.fontSize = "26px";
                    document.querySelector(".main_button").style.fontWeight = "400";
                    document.querySelector(".main_button").innerHTML = "[CS50]";
                }
                else {
                    document.querySelector("nav").style.padding = "30px 50px 30px 50px";
                    document.querySelector("nav").style.backgroundColor = "rgba(100, 100, 100, 0.5)";
                    document.querySelector(".main_button").style.fontSize = "42px";
                    document.querySelector(".main_button").style.fontWeight = "500";
                    document.querySelector(".main_button").innerHTML = "[CS50 Final]";
                }
            }

            // Shrink navbar elements for smaller size media (phones, etc.)
            var x = window.matchMedia("(max-width: 750px)")
            shrink(x)
            x.addListener(shrink)

            function shrink(x) {
                if (x.matches) {
                    document.querySelector(".main_button").innerHTML = "[CS50]";
                    document.querySelector(".main_button").style.fontSize = "32px";
                }
                else {
                    document.querySelector(".main_button").innerHTML = "[CS50 Final]";
                    document.querySelector(".main_button").style.fontSize = "42px";
                }
            }
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>